@model AviBlog.Core.ViewModel.PostViewModel
         

<article>
    <div class="post-heading">
        @Html.Partial("_PublishDate", Model.DatePublished)
        <h2>@Html.ActionLink(Model.Title, "Post", "Posts", new { id = Model.Slug }, new { @class = "post-title-link" })</h2>
    </div>
    <div>@Html.Raw(Model.PostContent) </div>
    
    <div id="post-info">
        @Html.Partial("_PostTags", Model.Tags)
    </div>
    <div class="post-tags-social">
        <div id="post-by-line"></div> Authored by: @Model.UserFullName
        @Html.Partial("_PostSocial")
    </div>
    <div class="clear"></div>
    <div class="post-comments">
        @Html.Action("PostSettings", "Posts", new { id = "DisQusScript" })
    </div>
</article>