@model AviBlog.Core.ViewModel.PostViewModel

<article>
    <div class="post-heading">
        <h2>@Html.ActionLink(Model.Title, "Post", "Posts", new {id = Model.Slug}, new {@class = "post-title-link"})</h2>
    </div>
    <div>@Html.Raw(Model.PostContent) </div>
    

    <div class="post-tags-social">
        @Html.Partial("_PostTags",Model.Tags)
        @Html.Partial("_PostSocial")
    </div>
    <div class="clear"></div>
    <div class="post-comments">
        @Html.Action("PostSettings", "Posts", new { id = "DisQusScript" })
    </div>
</article>