@model AviBlog.Core.ViewModel.BlogSiteViewModel
<h3>Html Fragments</h3>
<p>
    @Html.ActionLink("Create New", "Create", new { blogId = Model.BlogId })
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>Script Location</th>
        <th></th>
    </tr>

@foreach (var item in Model.HtmlFragments) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SelectedLocationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit",new { id=item.Id, blogId = Model.BlogId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id, blogId = Model.BlogId })
        </td>
    </tr>
}

</table>
